body {
    font-family: Roboto, sans-serif;
    margin: 0px;
    color: #333;
}

.header {
    background-color: #1F2937;
    color: white;
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    
}

.right {
    display: flex;
    gap: 20px;
}

a, a:link, a:visited {
    color: white;
    text-decoration: none;
}

.headerB {
    background-color: #1F2937;
    color: white;
    padding: 100px 200px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    width: 400px;
}
